.list__item_font_s {
  font-size: 16px;
  line-height: 24px;
  max-width: 560px;
  margin-bottom: 24px;
}

.list__item_font_s::before {
  content: '';
  display: block;
  width: 20px;
  height: 11px;
  background: center / contain no-repeat url('../../../../images/check-orange.svg');
  margin-right: 10px;
  flex-shrink: 0
}

@media screen and (max-width: 1200px) {
  .list__item_font_s {
    max-width: 580px;
  }
}