.card__item_type_check-orange::before {
  content: '';
  display: block;
  width: 16px;
  height: 11px;
  background: center / contain no-repeat url('../../../../images/check-orange.svg');
  margin-right: 10px;
  flex-shrink: 0
}