.card__item_type_dash-orange::before {
  content: '';
  display: block;
  width: 16px;
  height: 10px;
  background: center / contain no-repeat url('../../../../images/dash-orange.svg');
  margin-right: 10px;
}