.step__text {
  margin: 20px 0 25px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .step__text {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 17px;
    max-width: 115px;
    text-align: left;
  }
}

@media screen and (max-width: 700px) {
  .step__text {
    margin-top: 5px;
    margin-bottom: 17px;
    text-align: center;
  }
}