.about__image {
  max-width: 560px;
  height: 366px;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 1400px) {
  .about__image {
    max-width: 460px;
  }
}

@media screen and (max-width: 700px) {
  .about__image {
    max-width: 280px;
    height: 187px;
  }
}