.upper-menu__container {
  max-width: 675px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .upper-menu__container {
    display: none;
  }
}