.card__btn-text {
  font-family: 'PT Sans Caption', 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  display: none;
}

@media screen and (max-width: 700px) {
  .card__btn-text {
    display: flex;
  }
}