.card__text_type_check::before {
  content: '';
  display: block;
  width: 16px;
  height: 10px;
  background: center / contain no-repeat url('../../../../images/check-green.svg');
  margin-right: 10px;
}