.menu__text {
  font-family: 'PT Sans Caption', 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #F76201;
  padding: 0;
  display: flex;
}

.menu__text::before {
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  background: center / contain no-repeat url('../../../images/login.svg');
  margin-right: 8px;
}

@media screen and (max-width: 700px) {
  .menu__text::before {
    display: none;
  }
}