.button__text {
  font-family: 'PT Sans Caption', 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #F76201;
  padding: 0;
  display: flex;
  align-items: center;
}