.logo__image {
  width: 70px;
  height: 46px;
  object-fit: contain;
  object-position: center;
  margin-right: 40px;
}

@media screen and (max-width: 1200px) {
  .logo__image {
    width: 60px;
    height: 40px;
  }
}

@media screen and (max-width: 700px) {
  .logo__image {
    width: 46px;
    height: 30px;
  }
}