.service {
  width: 310px;
  margin-top: 95px;
}

@media screen and (max-width: 1200px) {
  .service {
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    border-radius: 8px;
    border-top: 8px solid #F76201;
    padding: 40px 30px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .service:nth-of-type(3) {
    display: none;
  }

  .service:nth-of-type(4) {
    display: none;
  }

  .service:nth-of-type(5) {
    display: none;
  }

  .service:nth-of-type(6) {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .service {
    width: 280px;
  }
}