.card__text_position_left {
  display: block;
  line-height: 60px;
  width: 80%;
}

@media screen and (max-width: 700px) {
  .card__text_position_left {
    line-height: 20px;
    display: flex;
  }
}