.card__btn-text_color_orange {
  color: #F76201;
}

.card__btn-text_color_orange::after {
  content: attr(data-elem);
  display: block;
  width: 10px;
  height: 10px;
  background: center / contain no-repeat url('../../../../images/arrow-orange-bold.svg');
  margin-left: 10px;
  transform: rotate(180deg);
}

.card__btn-text_color_orange[data-elem='']::after {
  transform: rotate(0deg);
}

.card__btn-text_color_orange[data-elem=' ']::after {
  transform: rotate(180deg);
}

