.nav__link_font_m {
  font-size: 16px;
  line-height: 21px;
  color: #333;
  transition: color .3s ease-in;
}

.nav__link_font_m:hover {
  color: #F76201;
}

@media screen and (max-width: 1400px) {
  .nav__link_font_m {
    font-size: 14px;
    line-height: 18px;
  }
}