.button__text_icon_after-orange::after {
  display: block;
  content: '';
  width: 10px;
  height: 11px;
  background: center / contain no-repeat url('../../../../images/arrow-orange-bold.svg');
  margin-left: 11px;
  flex-shrink: 0;
}
  
@media screen and (max-width: 700px) {
  .button__text_icon_after-orange::after {
    display: none;
  }
}
