.button__text_icon_before::before {
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  background: center / contain no-repeat url('../../../../images/login.svg');
  margin-right: 8px;
  flex-shrink: 0;
}

@media screen and (max-width: 700px) {
  .button__text_icon_before::before {
    display: none;
  }
}